---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 01:54:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":",co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"282093979","unknownInput":"","type":"s","latLng":{"lat":38.998552,"lng":-105.547832},"displayLatLng":{"lat":38.998552,"lng":-105.547832},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=38.998552,-105.547832|marker-sm-50318A-1&scalebar=true&zoom=5&rand=-903254776"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"CO","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOf[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=38.998552&lon=-105.547832&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.9986,"lon":-105.5478,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619315692,"sunrise":1619266345,"sunset":1619315265,"temp":39.81,"feels_like":31.98,"pressure":1018,"humidity":30,"dew_point":13.21,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":180,"wind_gust":24.16,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1619312400,"temp":41.22,"feels_like":32.97,"pressure":1016,"humidity":31,"dew_point":14.99,"uvi":0.22,"clouds":36,"visibility":10000,"wind_speed":16.46,"wind_deg":260,"wind_gust":26.37,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619316000,"temp":39.81,"feels_like":32.67,"pressure":1018,"humidity":30,"dew_point":13.21,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":11.83,"wind_deg":259,"wind_gust":19.71,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1619319600,"temp":39.9,"feels_like":35.65,"pressure":1016,"humidity":34,"dew_point":15.84,"uvi":0,"clouds":47,"visibility":10000,"wind_speed":5.97,"wind_deg":258,"wind_gust":8.99,"weather":[{"id":802,"[...]
